apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-app
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: devops-app
          image: docker.io/ivanklivitskyi/simple-python-app:latest

